body.galaxy-bg {
    background: radial-gradient(circle at top, #0a0f2d, #000);
    color: white;
    font-family: Arial;
}

.login-box, .card {
    background: rgba(255,255,255,0.08);
    padding: 20px;
    border-radius: 12px;
    width: 350px;
    margin: auto;
    margin-top: 80px;
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255,255,255,0.2);
}

.video-box video {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.glow-btn {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #1e90ff;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 12px #1e90ff;
    transition: 0.2s;
}

.glow-btn:hover {
    box-shadow: 0 0 20px #4aa3ff;
}

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
